#score {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  font-family: 'Courier New';
  font-size: 50px;
  font-weight: bolder;
  width: 90%;
}
#matches {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-family: 'Courier New';
  font-size: 45px;
  font-weight: bold;
  width: auto;
}
.take {
  display: flex;
  font-family: 'Courier New';
  font-size: 25px;
  font-weight: bolder;
  justify-content: center;
}
.take button {
  background-color: white;
  border: none;
  outline: 0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-weight: bolde;
}
.take button:hover {
  background-color: lightgray;
}
.take button:active {
  background-color: black;
  color: white;
}
.take [type='number'] {
  border-top-left-radius: 2px solid black;
  width: 80px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
